@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
    background-color: #4A939B;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    gap: 25px;
    align-items: center;
}

a {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
}


.hero {
    width: 100%;
    height: 600px;
    background-image: url("Group\ 2.png");
    background-size: cover;     
    background-position: center;  
    background-repeat: no-repeat;
}

.hero h1 {
    color: #FFFFFF;
    font-size: 50px;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.hero p {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    

}

figure {
    text-align: center;
    padding: 8px;
}
.left {
background: linear-gradient(
    rgba(113, 31, 27, 0.15),
    rgba(21, 108, 109, 0.15)
);



    display: flex;
    align-items: start;
    justify-items: center;
    max-width: 35%;
    border-radius: 6px;
}


.right {
  display: flex;
  width: 540px;
  flex-wrap: wrap;
  gap: 30px;
}


.div_1,
.div_2,
.div_3,
.div_4{
    width: 255px;
    height: 218px;
background: linear-gradient(
    rgba(113, 31, 27, 0.15),
    rgba(21, 108, 109, 0.15)
);
color: #FFFFFF;
text-align: center;

}

.right h2 {
    text-align: center;
    color: #4A939B;
}

.right p {
    display: flex;
    text-align: start;
    padding: 5px;
}

.card-body p{
    color: #9B9B9B;
}



.box {
    display: flex;
    background-color: #4A939B;
    padding: 120px;
    border-radius: 6px;
    justify-content: space-evenly;
}


.box_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 350px;
    padding: 5px 55px;

    
}

.xabar {
    display: flex;
    padding-top: 30px;
    align-items: center;
    border-radius: 6px;
}

.box_1 button {
    display: flex;
    padding: 5px 55px;
    border-radius: 6px;
    background-color:#52BFAD;
}

.ism {
    display: flex;
    padding-top: 10px;
    align-items: center;
    border-radius: 6px;
}

.box_2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #FFFFFF;
}

